body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: yellow;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.title
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: yellow;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
      font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.siteContainer {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  background-color: black;

  
  
  
}

.pageSection {
  scroll-snap-align: center;
  height:100vh;
  

}



.Navbar {
  margin-top: 20px;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  
}

.logo {
  height: 50px;;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  
}
li {
  display: inline;
  margin-left: 20px;
}

.hireButtonContainer {
  display: flex;
  align-items: center;
}


.button-34:hover {background-color: white;}

.button-34:active {
  background-color: yellow;
  box-shadow: 0 5px yellow;
  transform: translateY(4px);
}

.button-34 {
  background: #e9ed23;
  border-radius: 999px;
  box-shadow: #b6ed11 0 10px 20px -10px;
  box-sizing: border-box;
  color: #040401;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;




}

/* END OF NAVBAR */


.pageSectionHero {
  scroll-snap-align: center;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

 
}

.heroSectionContainer {
  height:100vh;
  display: flex;
  width: 1400px;
  justify-content: space-between;
}

.heroTextContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero3dContainer {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: center;
  

}

/* Start of cool */
.pageSection {
  scroll-snap-align: center;
  height:100vh;
  display: flex;
  justify-content: center;
  width: 1400px;
  

}

.coolContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex:4;
}

.rightCoolContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex:2;
  flex-direction: column;
}

.memeImage {
  height: 250px;
}

.buttonMeme {
  background: #e9ed23;
  border-radius: 999px;
  box-shadow: #b6ed11 0 10px 20px -10px;
  box-sizing: border-box;
  color: #040401;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 10px;
}

.widgetBot {
  width: 390px;
  height: 500px;

}

/* Start of contact */


.pageSectionContact {
  scroll-snap-align: center;
  height:100vh;
  display: flex;
  align-items: center;
  

}

.contactLeft {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:2;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 500px;
}

input {
  height: 35px;
  border: none;
  border-radius: 5px;
}

textarea {
  padding: 30px;
  border: none;
  border-radius: 5px;
}

.contactRight {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex:1;
  height: 600px;
  margin-right: 280px;
  
}


@media only screen
and (min-width: 320px) 
and (max-width: 768px) {

 

  .Navbar {
    width: 100%;
    margin-left: 2rem;
    
  }

  .pageSectionHero {
    width: 100%;
  }


  .links > ul  {
    display: none;
  }

  .hireButtonContainer {
    display: none;
  }

  .heroTextContainer > h1{
    font-size: 25px;
    text-align: center;
    width:100%;
    overflow: hidden;
    
  }

  .heroTextContainer > h3{
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  
  .heroSectionContainer {
    display: flex;
    flex-direction: column;
    
  }

  .hero3dContainer {
    

  }

  .pageSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
    
  }
  
  .pageSectionContact {
    
  }
  
  

}